{% extends "head.html" %}
{% block content %}
<br><br><br>

<div class="container text-center">

  <div class="row">
    {%for i in jobs%}
    <div class="col-md-3">
      <a href="{{ url_for('detail', name=i['job_name'])}}">
        <div class="card">
          {% if i['image-src'] == null %}
          <img class="card-img-top" src="{{url_for('static', filename='img/no_image.jpg')}}" alt="" srcset="">
          {% else %}
          <img class="card-img-top" src="https://upwork.com{{i['image-src']}}" alt="" srcset="">            
          {% endif %}
          <div class="card-body">
            <img src="{{i['seller_image-src']}}" class="seller-image" alt="" srcset="">
            {{i['seller_name']}} <br><br>
            <h5 class="card-title"> {{i['job_name']}} </h5>
            <p class="card-text">Categories: {{i['categories']}}</p>
            <div class="row">
              <div class="col-md-6">
                <i class="fa-solid fa-star" style="color: yellow;"> {{i['rating']}}</i>
              </div>
              <div class="col-md-6">
                <i class="fa-solid fa-money-bill-wave" style="color: #D6E4E5;"> {{i['price']}}</i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    {%endfor%}
    <div class="container-fluid">
      {{ pagination.links }}
    </div>
  </div>
</div>
{% endblock %}