{% extends "head.html" %}
{% block content %}

<br><br><br>
    <div class="container-xxl mb-2">
        <div class="card addPad itBlack">
            <div class="row">
                {%for i in output%}
                <div class="col-md-6">
                    <h1> {{i['job_name']}} </h1>
                    <div class="">
                        <img src="{{i['seller_image-src']}}" alt="" class="avatar"> 
                        <span class="sellerName">{{i['seller_name']}}  | {{i['categories']}} | <i class="fa-solid fa-star"> {{i['ratings']}} </i> | from <i class="fa-solid fa-money-bill-wave"> {{i['price']}} </i> </span>
                    </div> <br>
                    <img class="card-img-top" src="https://upwork.com{{i['image-src']}}-2" alt="" srcset=""> <br><br>
                    <h3 class="indexTitel">Recommendations</h3><br>
                    <div class="swiper row">
                      <div class="slide-content">
                          <div class=" swiper-wrapper">
                            {%for i in output_2%}
                            <!-- <div class="col py-3"> -->
                              <div class="cards card h-100 shadow reveal swiper-slide">
                                  <div class="card-image">
                                      <img class="img" src="https://upwork.com{{i['image-src']}}">
                                  </div>
                                  <div class="card-body">
                                    <div class="titel overflow-hidden">
                                      <h5 class="card-title">
                                        {{i['job_name']}}
                                      </h5>
                                    </div>
                                    <a href="{{ url_for('detail', name=i['job_name'])}}" class="stretched-link"></a>
                                  </div>
                                  <div class="card-footer">
                                    <div class="ftr">
                                      <div class="author">
                                          <img src="{{i['seller_image-src']}}" alt="" class="avatar img-raised"> 
                                          <span class="sellerName">{{i['seller_name']}}</span>
                                      </div>
                                      <div class="stats"> 
                                        <i class="fa-solid fa-star"> {{i['ratings']}} </i>
                                        <i class="fa-solid fa-money-bill-wave"> {{i['price']}} </i>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            <!-- </div> -->
                            {%endfor%}
                          </div>
                        </div>
                        <div class="swiper-pagination"></div>
                      </div>
                </div>
                <div class="card col-md-6 itGold">
                    <div class="card-body dekri">
                        <h3 class="py-4 indexTitel">Work Details</h3>
                        <p hidden id="lp">{{i['desc']}}</p>

                        <div id="dekri">
                            <script>
                              const element = document.getElementById("lp");
                              document.getElementById("dekri").innerHTML = `<p> ${element.innerText} </p>`;
                            </script>                     
                        </div>
                        <br><br>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a class="btn beBlack" href="{{i['name-href']}}">Here We Goo!!!</a>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    {% endblock %}