{% extends "head.html" %}
{% block content %}

<style>
  a.page-link {
    /* position: relative; */
    display: block;
    align-items: center;
    color: yellowgreen;
  }
  .container a {
    font-size: 18px;
  }
</style>
<br><br><br>

  <div class="container-xxl text-center py-5">
    <div class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 g-4">
      {%for i in jobs%}
      <div class="col py-3">
        <div class="cards card h-100 shadow reveal">
            <div class="card-image">
                <img class="img" src="https://upwork.com{{i['image-src']}}">
            </div>
            <div class="card-body">
              <div class="titel overflow-hidden">
                <h5 class="card-title indexTitel">
                  {{i['job_name']}}
                </h5>
              </div>
              <a href="{{ url_for('detail', name=i['job_name'])}}" class="stretched-link"></a>
            </div>
            <div class="card-footer">
              <div class="ftr">
                <div class="author">
                    <img src="{{i['seller_image-src']}}" alt="" class="avatar img-raised"> 
                    <span class="sellerName">{{i['seller_name']}}</span>
                </div>
                <div class="stats"> 
                  <i class="fa-solid fa-star"> {{i['ratings']}} </i>
                  <i class="fa-solid fa-money-bill-wave"> {{i['price']}} </i>
                </div>
              </div>
            </div>
        </div>
      </div>
      {%endfor%}
    </div>
    <br>
      {{ pagination.info }}
      {{ pagination.links }}
  </div>
{% endblock %}